/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#map {
	height: 100%;
	width: 70%;
	float: left;
}

#lista {
	width: 30%;
	height: 100%;
	float: left;
	background: #ddd;
}

#lista-tpl {
	width: 100%;
}

.legenda {
	margin: 0;
	padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}